<div class="container-fluid" >
  <div class="card login-card">
    <div class="row">
      <div class="col-md-5">
        <img src="/user-login-bg.png" alt="login" class="login-card-img">
      </div>
      <div class="col-md-7">
        <div class="card-body-login">
          <div class="brand-wrapper d-flex">
            <img src="/best-icon1.png" alt="logo" class="logo" width="50">
            <p class="h2"> BEST</p>
          </div>
          <p class="login-card-description">Sign into your account</p>
          <% if notice.present? || alert.present? %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <% end %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class:"sr-only" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email address" %>
              </div>

              <div class="form-group mb-4">
                <%= f.label :password, class:"sr-only" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"************" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-group mb-4">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="form-group mb-4">
                <%= f.submit "Log in", class:"btn login-btn" %>
              </div>
            <% end %>
            
            <%= render "partials/links" %>
        </div>
      </div>
    </div>
  </div>
</div>