<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>BEST</title>
    <link rel="icon" type="image/png" href="/best-icon1.png" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%=
    stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track':
    'reload' %> <%=javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="mb-4"><br></p>
    <%= render "partials/header" %>
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
